<p id="notice"><%= notice %></p>

<h1>Listing Bigqueries</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bigqueries.each do |bigquery| %>
      <tr>
        <td><%= bigquery.text %></td>
        <td><%= bigquery.number %></td>
        <td><%= link_to 'Show', bigquery %></td>
        <td><%= link_to 'Edit', edit_bigquery_path(bigquery) %></td>
        <td><%= link_to 'Destroy', bigquery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bigquery', new_bigquery_path %>
