- if user_signed_in?
        %p#intro
                Hello
                = current_user.name
                | Last signed in
                = time_ago_in_words(current_user.last_sign_in_at)
                | At
                = current_user.last_sign_in_ip
                %br/
                %span
                        Data From The Plugin Pulse installed at 
                        = current_user.city
                        City |
                        = current_user.estate
                        Estate
                        %br/
                        %span

        Usage since 00:00 Hours Today.
        = high_chart "day", @chart


- else
        %p#intro
                How are you are using Electricity?
